/*ESTILO DE LAS FICHAS DE SIMULACION*/
.table-header {
    text-align: left;
    font-weight: bold;
    background-color: #4c70af;
    color: white;
}

/* Optional styling for the entire container */
#vistaPrevia {
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #ffd092aa;
    border-radius: 4px;
}

/* Styling for each table */
table th,
table td {
    padding: 10px 8px;
    text-align: center;
    vertical-align: middle;
}

.btn-ver-activos, .btn-ver-detalle  {
    padding: 5px 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}